
<div class="row">
  <div class="col s10 offset-s1">
    <h5>Внесите исходные данные</h5>
  </div>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <table>
      <thead>
        <tr>
          <th class="center-align">Число генерируемых результатов</th>
          <th class="center-align">Число лучших результатов</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="input-field">
            <input type="number" min="0" ng-model="settings.loops" class="right-align"/>
          </td>
          <td class="input-field">
            <input type="number" min="0" ng-model="settings.successResults" class="right-align"/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col s10 offset-s1">
    <p>
      <input id="includeBuildCost" type="checkbox" ng-model="settings.includeBuildCost" class="filled-in"/>
      <label for="includeBuildCost">Учитывать капитальные затраты на строительство</label>
    </p>
  </div>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <h5>Координаты источника питания</h5>
    <table>
      <thead>
        <tr>
          <th data-field="x" class="center-align">X</th>
          <th data-field="y" class="center-align">Y</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="input-field">
            <input type="number" min="0" ng-model="source.x" class="right-align"/>
          </td>
          <td class="input-field">
            <input type="number" min="0" ng-model="source.y" class="right-align"/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <h5>Параметры потребителей</h5>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <table>
      <thead>
        <tr>
          <th class="center-align">№</th>
          <th class="center-align">
            <div>Название</div>
            <div class="divider"></div>
            <div>P<sub>P</sub>, кВт</div>
          </th>
          <th class="center-align">
            <div>T<sub>M</sub>, ч</div>
            <div class="divider"></div>
            <div>cos &phi;<sub>P</sub></div>
          </th>
          <th class="center-align">
            <div>К-во Т-ов</div>
            <div class="divider"></div>
            <div>U<sub>ном</sub>, кВ</div>
          </th>
          <th class="center-align">
            <div>X</div>
            <div class="divider"></div>
            <div>Y</div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="target in targets">
          <td>{{$index + 1}}</td>
          <td>
            <div>
              <div class="input-field">
                <input type="text" ng-model="target.label"/>
              </div>
            </div>
            <div>
              <div class="input-field">
                <input ng-model="target.power" type="number" min="0" class="right-align"/>
              </div>
            </div>
          </td>
          <td>
            <div>
              <div class="input-field">
                <input ng-model="target.time" type="number" min="0" class="right-align"/>
              </div>
            </div>
            <div>
              <div class="input-field">
                <input ng-model="target.cos" type="number" min="0" max="1" class="right-align"/>
              </div>
            </div>
          </td>
          <td>
            <div>
              <div class="input-field">
                <select ng-model="target.transformatorsCount" ng-options="t for t in [1, 2]" class="right-align browser-default"></select>
              </div>
            </div>
            <div>
              <div class="input-field">
                <select ng-model="target.u" ng-options="t for t in [6, 10]" class="right-align browser-default"></select>
              </div>
            </div>
          </td>
          <td>
            <div>
              <div class="input-field">
                <input ng-model="target.x" type="number" min="0" class="right-align"/>
              </div>
            </div>
            <div>
              <div class="input-field">
                <input ng-model="target.y" type="number" min="0" class="right-align"/>
              </div>
            </div>
          </td>
          <td ng-click="removeTarget($index)" class="trash cursor-pointer center-align"><i class="material-icons">delete</i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col s5 offset-s1 left-align">
    <button ng-click="addTarget()" class="btn waves-effect waves-light btn-large blue accent-2">Добавить Приемник</button>
  </div>
  <div class="col s5 right-align">
    <button ng-click="draw()" ng-if="targets.length" class="btn waves-effect waves-light btn-large indigo accent-4">Отобразить схему</button>
    <button ng-click="generateLinkMatrix()" ng-if="targets.length" class="btn waves-effect waves-light btn-large indigo accent-4">Определить связи между ТП</button>
  </div>
</div>
<div class="row">
  <div class="col s8 offset-s2">
    <canvas id="data-set" width="400" height="400"></canvas>
  </div>
</div>