
<div class="row">
  <div class="col-s12">
    <table>
      <thead>
        <tr>
          <th>ТП</th>
          <th ng-repeat="target in targets">{{target.label}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in targets">
          <td>{{row.label}}</td>
          <td ng-repeat="col in targets" class="center-align"><i ng-if="row.id == col.id" class="material-icons red-text">not_interested</i><i ng-if="row.id != col.id &amp;&amp; row.links[col.id] != 'blocked'" ng-click="changeLink(row.id, col.id, 'blocked')" class="material-icons green-text">play_circle_outline</i><i ng-if="row.id != col.id &amp;&amp; row.links[col.id] == 'blocked'" ng-click="changeLink(row.id, col.id, 'unblocked')" class="material-icons red-text">pause_circle_outline</i>
            <div class="input-field">
              <input type="number" min="0" ng-model="row.linksLength[col.id]" ng-change="changeLinkLength(row.id, col.id, row.linksLength[col.id])" ng-disabled="row.id == col.id" class="right-align"/>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col s5 offset-s1 left-align">
    <button ng-click="generateSchemas()" class="btn waves-effect waves-light btn-large blue accent-2">Генерировать Схему</button>
  </div>
</div>
<div class="row">
  <div class="col s8 offset-s2">
    <div id="graph" style="height:400px"></div>
  </div>
</div>
<div class="row">
  <div id="graph-container" class="col s8 offset-s2">
    <div id="graph2" style="height:400px"></div>
  </div>
</div>