
<div class="row">
  <div class="col-sm-12">
    <h5>Мощности трансформаторов</h5>
  </div>
</div>
<div class="row">
  <div class="col-s12">
    <table>
      <thead>
        <tr>
          <th>№</th>
          <th>ИП</th>
          <th class="center-align">P<sub>P</sub>, кВт</th>
          <th class="center-align">Q<sub>P</sub>, квар</th>
          <th class="center-align">S<sub>P</sub>, кВ*A</th>
          <th class="center-align">S<sub>HT</sub>, кВ*A</th>
          <th class="center-align">k<sup>норм</sup><sub>з</sub></th>
          <th class="center-align">k<sup>ав</sup><sub>з</sub></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in targets">
          <td>{{row.id}}</td>
          <td>{{row.label}}</td>
          <td class="center-align">{{row.power | number:2}}</td>
          <td class="center-align">{{row.qp | number:2}}</td>
          <td class="center-align">{{row.sp | number:2}}</td>
          <td class="center-align">{{row.sn.snt * row.transformatorsCount | number:2}}</td>
          <td class="center-align">{{row.kn | number:2}}</td>
          <td class="center-align">{{row.ka | number:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h5>Нагрузка на стороне 10 кВ</h5>
  </div>
</div>
<div class="row">
  <div class="col-s12">
    <table>
      <thead>
        <tr>
          <th>№</th>
          <th>ИП</th>
          <th class="center-align">P<sub>P</sub>, кВт</th>
          <th class="center-align">Q<sub>P</sub>, квар</th>
          <th class="center-align">P<sub>T</sub>, кВт</th>
          <th class="center-align">Q<sub>T</sub>, квар</th>
          <th class="center-align">P<sup>BH</sup><sub>P</sub>, кВт</th>
          <th class="center-align">Q<sup>BH</sup><sub>P</sub>, квар</th>
          <th class="center-align">S<sup>BH</sup><sub>P</sub>, кВ*A</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in targets">
          <td>{{row.id}}</td>
          <td>{{row.label}}</td>
          <td class="center-align">{{row.power | number:2}}</td>
          <td class="center-align">{{row.qp | number:2}}</td>
          <td class="center-align">{{row.pt | number:2}}</td>
          <td class="center-align">{{row.qt | number:2}}</td>
          <td class="center-align">{{row.pph | number:2}}</td>
          <td class="center-align">{{row.qph | number:2}}</td>
          <td class="center-align">{{row.sph | number:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h5>Годовое электропотребление</h5>
  </div>
</div>
<div class="row">
  <div class="col-s12">
    <table>
      <thead>
        <tr>
          <th>№</th>
          <th>ИП</th>
          <th class="center-align">K<sub>m</sub></th>
          <th class="center-align">P<sup>BH</sup><sub>P</sub>, кВт</th>
          <th class="center-align">P<sup>BH</sup><sub>CP</sub>, кВт</th>
          <th class="center-align">Т, ч</th>
          <th class="center-align">W, тыс кВт*ч</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in targets">
          <td>{{row.id}}</td>
          <td>{{row.label}}</td>
          <td class="center-align">{{row.km | number: 3}}</td>
          <td class="center-align">{{row.pph | number:2}}</td>
          <td class="center-align">{{row.cpPower | number:2}}</td>
          <td class="center-align">{{row.t}}</td>
          <td class="center-align">{{row.w | number:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h5>Матрица связи</h5>
  </div>
</div>
<div class="row">
  <div class="col-s12">
    <table>
      <thead>
        <tr>
          <th>ТП</th>
          <th ng-repeat="target in targets">{{target.label}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ИП</td>
          <td ng-repeat="col in targets" class="center-align">
            <div class="input-field">
              <input type="number" min="0" ng-model="source.linksLength[col.id]" step="0.01" class="right-align"/>
            </div>
          </td>
        </tr>
        <tr ng-repeat="row in targets">
          <td>{{row.label}}</td>
          <td ng-repeat="col in targets" class="center-align"><i ng-if="row.id == col.id" class="material-icons red-text">not_interested</i><i ng-if="row.id != col.id &amp;&amp; row.links[col.id] != 'blocked'" ng-click="changeLink(row.id, col.id, 'blocked')" class="material-icons green-text">play_circle_outline</i><i ng-if="row.id != col.id &amp;&amp; row.links[col.id] == 'blocked'" ng-click="changeLink(row.id, col.id, 'unblocked')" class="material-icons red-text">pause_circle_outline</i>
            <div class="input-field">
              <input type="number" min="0" ng-model="row.linksLength[col.id]" step="0.01" ng-change="changeLinkLength(row.id, col.id, row.linksLength[col.id])" ng-disabled="row.id == col.id" class="right-align"/>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col s5 offset-s1 left-align">
    <button ng-click="generateResults()" class="btn waves-effect waves-light btn-large blue accent-2">Генерировать Результаты</button>
  </div>
</div>
<div ng-if="topResults.length" class="row">
  <div class="col-sm-12">
    <h5>Лучшие результаты</h5>
  </div>
</div>
<div ng-if="topResults.length" class="row">
  <div class="col-s12">
    <table>
      <thead>
        <tr>
          <th>№</th>
          <th>З, уе.</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in topResults" ng-click="showResult(row)">
          <td>{{$index}}</td>
          <td>{{row.cost | cost | number: 2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div ng-if="visibleResult" class="row">
  <div class="col-sm-12">
    <h5>Сечения проводников</h5>
  </div>
</div>
<div ng-if="visibleResult" class="row">
  <div class="col-s12">
    <table>
      <thead>
        <tr>
          <th>№</th>
          <th>ЛЭП</th>
          <th class="center-align">Марка и сечение</th>
          <th class="center-align">I<sub>P</sub>, A</th>
          <th class="center-align">I<sub>доп</sub>, A</th>
          <th class="center-align">j, A/м<sup>2</sup></th>
          <th class="center-align">F<sub>Э</sub>, мм<sup>2</sup></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in visibleResult.fullLinks" ng-if="!$last">
          <td>{{$index}}</td>
          <td>{{row.linkName}}</td>
          <td class="center-align"><span ng-if="row.line.count != 1">{{row.line.count}} x&nbsp;</span><span ng-show="row.line.type">АСБ</span><span ng-hide="row.line.type">ААШв</span><span>&nbsp;- 3 x {{row.line.cut}}</span></td>
          <td class="center-align">{{row.ip | number:2}}</td>
          <td class="center-align">{{row.line.i * row.line.count | number:2}}</td>
          <td class="center-align">{{row.j | number:2}}</td>
          <td class="center-align">{{row.f | number:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div ng-if="visibleResult" class="row">
  <div class="col-sm-12">
    <h5>Издержки на эксплуатацию</h5>
  </div>
</div>
<div ng-if="visibleResult" class="row">
  <div class="col-s12">
    <table>
      <thead>
        <tr>
          <th>№</th>
          <th>ЛЭП</th>
          <th class="center-align">Марка и сечение</th>
          <th class="center-align">K<sub>уд</sub>, руб.</th>
          <th class="center-align">L, км</th>
          <th class="center-align">K, уе.</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in visibleResult.fullLinks">
          <td><span ng-if="!$last">{{$index}}</span></td>
          <td>{{row.linkName}}</td>
          <td class="center-align"><span ng-if="!$last"><span ng-if="row.line.count != 1">{{row.line.count}} x&nbsp;</span><span ng-show="row.line.type">АСБ</span><span ng-hide="row.line.type">ААШв</span><span>&nbsp;- 3 x {{row.line.cut}}</span></span></td>
          <td class="center-align">{{row.kud | number:2}}</td>
          <td class="center-align">{{row.linkLength | number:2}}</td>
          <td class="center-align">{{row.k | cost | number:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div ng-if="visibleResult" class="row">
  <div class="col-sm-12">
    <h5>Издержки на эксплуатацию линий электропередач</h5>
  </div>
</div>
<div ng-if="visibleResult" class="row">
  <div class="col-s12">
    <table>
      <thead>
        <tr>
          <th>№</th>
          <th>ЛЭП</th>
          <th class="center-align">Марка и сечение</th>
          <th class="center-align">K, уе.</th>
          <th class="center-align">p<sub>a</sub>+ p<sub>0</sub>, %</th>
          <th class="center-align">И<sub>a</sub>+ И<sub>0</sub>, уе.</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in visibleResult.fullLinks">
          <td><span ng-if="!$last">{{$index}}</span></td>
          <td>{{row.linkName}}</td>
          <td class="center-align"><span ng-if="!$last"><span ng-if="row.line.count != 1">{{row.line.count}} x&nbsp;</span><span ng-show="row.line.type">АСБ</span><span ng-hide="row.line.type">ААШв</span><span>&nbsp;- 3 x {{row.line.cut}}</span></span></td>
          <td class="center-align">{{row.k | cost | number:2}}</td>
          <td class="center-align">{{row.p}}</td>
          <td class="center-align">{{row.i | cost | number:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div ng-if="visibleResult" class="row">
  <div class="col-sm-12">
    <h5>Активные Сопротивления</h5>
  </div>
</div>
<div ng-if="visibleResult" class="row">
  <div class="col-s12">
    <table>
      <thead>
        <tr>
          <th>№</th>
          <th>ЛЭП</th>
          <th class="center-align">Марка и сечение</th>
          <th class="center-align">L, км</th>
          <th class="center-align">R<sub>0</sub>, Ом/км.</th>
          <th class="center-align">R, Ом.</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in visibleResult.fullLinks" ng-if="!$last">
          <td>{{$index}}</td>
          <td>{{row.linkName}}</td>
          <td class="center-align"><span ng-if="row.line.count != 1">{{row.line.count}} x&nbsp;</span><span ng-show="row.line.type">АСБ</span><span ng-hide="row.line.type">ААШв</span><span>&nbsp;- 3 x {{row.line.cut}}</span></td>
          <td class="center-align">{{row.linkLength | number:2}}</td>
          <td class="center-align">{{row.resistance.resistance | number:3}}</td>
          <td class="center-align">{{row.totalResistance | number:3}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div ng-if="visibleResult" class="row">
  <div class="col-sm-12">
    <h5>Потери электроэнергии</h5>
  </div>
</div>
<div ng-if="visibleResult" class="row">
  <div class="col-s12">
    <table>
      <thead>
        <tr>
          <th>№</th>
          <th>ЛЭП</th>
          <th class="center-align">R, Ом.</th>
          <th class="center-align">P<sup>BH</sup><sub>P</sub>, кВт</th>
          <th class="center-align">Q<sup>BH</sup><sub>P</sub>, квар</th>
          <th class="center-align">S<sup>BH</sup><sub>P</sub>, кВ*A</th>
          <th class="center-align">I<sub>P</sub>, A</th>
          <th class="center-align">K<sub>m</sub></th>
          <th class="center-align">I<sub>CP</sub>, A</th>
          <th class="center-align">K<sub>ф</sub></th>
          <th class="center-align">&Delta;W, тыс кВт*ч</th>
          <th class="center-align">&Delta;W, %</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in visibleResult.fullLinks">
          <td><span ng-if="!$last">{{$index}}</span></td>
          <td>{{row.linkName}}</td>
          <td class="center-align">{{row.totalResistance | number:3}}</td>
          <td class="center-align">{{row.consumer.pph | number:2}}</td>
          <td class="center-align">{{row.consumer.qph | number:2}}</td>
          <td class="center-align">{{row.consumer.sph | number:2}}</td>
          <td class="center-align">{{row.ip | number:2}}</td>
          <td class="center-align">{{row.consumer.km | number:3}}</td>
          <td class="center-align">{{row.cpI | number:2}}</td>
          <td class="center-align">{{row.kf | number:3}}</td>
          <td class="center-align">{{row.wDiff | number:2}}</td>
          <td class="center-align">{{row.w | number:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div ng-if="visibleResult" class="row">
  <div class="col-sm-12">
    <h5>Лучшие результаты</h5>
  </div>
</div>
<div ng-if="visibleResult" class="row">
  <div class="col-s12">
    <table>
      <thead>
        <tr>
          <th class="center-align">K, уе.</th>
          <th class="center-align">И<sub>a</sub>+ И<sub>0</sub>, уе.</th>
          <th class="center-align">С<sub>&Delta;</sub>, уе.</th>
          <th class="center-align">З, уе.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="center-align">{{visibleResult.fullLinks[visibleResult.fullLinks.length - 1].k | cost | number:2}}</td>
          <td class="center-align">{{visibleResult.fullLinks[visibleResult.fullLinks.length - 1].i | cost | number:2}}</td>
          <td class="center-align">{{visibleResult.fullLinks[visibleResult.fullLinks.length - 1].c | cost | number:2}}</td>
          <td class="center-align">{{visibleResult.fullLinks[visibleResult.fullLinks.length - 1].z | cost | number:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div id="graph-container" class="col s8 offset-s2">
    <div id="graph" style="height:400px"></div>
  </div>
</div>